.mention-count {
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    line-height: 1.3;
    width: 70px;
    word-wrap: normal;
    white-space: nowrap;
    color: var(--text-muted);
}

[id*=lower_badge_masks] {
    display: none;
}
